/* Home */
.introPic {
  height: 50vh;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.introPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.caroussel {
  display: flex;
  gap: 22px;
  padding: 10px 30px;
  flex-wrap: wrap;
  z-index: 100;
}

.item-box {
  height: 300px;
  width: 210px;
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.item-box img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.profile {
  padding: 5px 3px;
}

.other-infos {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: grey;
}

.no-result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(104, 104, 104);
  font-size: 18px;
}

.no-result-div img {
  width: 200px;
  margin-bottom: 20px;
}

.introPic > div {
  /* background-color: red; */
  /* position: relative; */
  width: 100%;
  height: 50vh;
  /* position: absolute; */
  margin: 0 auto;
  z-index: 1;
}

.introPic .pop-up-home {
  /* position: absolute; */
  background-color: white;
  left: 70px;
  top: 10%;
  padding: 20px;
  width: 300px;
  height: auto;
  z-index: 2;
}

.introPic .pop-up-home h1 {
  font-size: 30px;
  padding-right: 30px;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.introPic .pop-up-home button,
nav .button-nav .sell-now,
.add-an-item {
  background-color: #09adb6;
  border: 1px solid #09adb6;
  color: white;
  border-radius: 5px;
}

.introPic .pop-up-home button {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 0;
}

.introPic .pop-up-home button:hover,
nav .button-nav .sell-now:hover {
  background-color: white;
  color: #09adb6;
}

@media (min-width: 769px) {
  .introPic > div {
    position: absolute;
  }

  .introPic .pop-up-home {
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .item-box {
    width: 150px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .introPic {
    flex-direction: column;
  }
  .introPic > div {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .introPic .pop-up-home {
    width: 90%;
  }
  .item-box {
    width: 100px;
    height: 200px;
  }
}
