/* Home */
.introPic {
  height: 50vh;
  margin: 30px 0;
}

.introPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.caroussel {
  display: flex;
  gap: 15px;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.item-box {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-box img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.profile {
  padding: 5px 3px;
}

.other-infos {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: grey;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  color: grey;
  width: 100%;
  padding: 0;
}
