nav > div {
  box-sizing: border-box;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.big-screen-div {
  padding: 10px 30px;
  width: 100%;
}
nav img {
  height: 35px;
  padding-right: 20px;
}
nav div {
  display: flex;
  align-items: center;
}

/* Search bar and buttons */

nav .search-and-buttons {
  justify-content: space-between;
  width: 100%;
}

nav .button-nav div {
  gap: 10px;
}

nav .button-nav button,
.back-home {
  background-color: white;
  color: #09adb6;
  border-radius: 5px;
  border: 1px solid #09adb6;
  padding: 5px 10px;
  /* margin: 0 10px; */
  width: auto;
}

nav .button-nav button:hover {
  background-color: #09adb6;
  color: white;
}

nav .button-nav .exit-button {
  background-color: #aa0e42;
  color: white;
  border-radius: 5px;
  border: 1px solid #aa0e42;
  padding: 5px 10px;
  margin: 0 10px;
}

nav .button-nav .exit-button:hover {
  background-color: #eecfda;
  color: #aa0e42;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 40;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
  color: grey;
  width: 100%;
  padding: 0;
}

/* Searched bar */
nav input {
  font-size: 16px;
  border: none;
  background-color: #f5f6f7;
}

.searched-bar {
  background-color: #f5f6f7;
  border: 1px solid #f5f6f7;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
}

#searched-bar-value {
  background-color: none;
}

nav input::placeholder {
  color: #8f8f92;
}

.searching-inputs {
  gap: 10px;
  position: relative;
  z-index: 5;
}

.searching-inputs button {
  border: 1px solid #b2b2b3;
  background-color: white;
  color: #b2b2b3;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.searching-inputs button:hover {
  background-color: rgb(235, 235, 235);
}

.searching-inputs button:focus {
  outline: 1px dotted;
  outline: 1px auto -webkit-focus-ring-color;
}

.searching-inputs .filter {
  position: relative;
}

.searching-inputs .filter button {
  display: flex;
  align-items: center;
}

.searching-inputs .selected {
  border: 1px solid #09adb6;
  background-color: #caeff1;
  color: grey;
}

.searching-inputs .selected:focus {
  border: 1px solid #09adb6;
  background-color: #8aeff7;
  color: #5f5f5f;
}

nav div p {
  padding-right: 10px;
}

/* Filters */

.chooseAPrice,
.sortItems {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-top: 13rem;
  left: 0;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  box-shadow: 1px 0.7px 1.2px rgba(0, 0, 0, 0.068),
    2.5px 1.7px 3.1px rgba(0, 0, 0, 0.098),
    5.1px 3.5px 6.4px rgba(0, 0, 0, 0.122),
    10.6px 7.3px 13.1px rgba(0, 0, 0, 0.152), 29px 20px 36px rgba(0, 0, 0, 0.22);
}

.chooseAPrice .price-selection,
.chooseAPrice .buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.chooseAPrice .price-selection div {
  display: flex;
  flex-direction: column;
}

.chooseAPrice .price-selection input {
  width: 100px;
}

.sortByPrice {
  height: 50px;
  width: 200px;
  left: 48%;
}

.searching-inputs .chooseAPrice .validate {
  background-color: #09adb6;
  border: 1px solid #09adb6;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 10px;
}

.searching-inputs .chooseAPrice .validate:hover {
  background-color: white;
  color: #09adb6;
}

.searching-inputs .chooseAPrice .delete {
  background-color: #aa0e42;
  border: 1px solid #aa0e42;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 10px;
}

.searching-inputs .chooseAPrice .delete:hover {
  background-color: white;
  color: #aa0e42;
}

.searching-inputs .chooseAPrice .delete-off,
.searching-inputs .chooseAPrice .delete-off:hover {
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 10px;
}

.filter p {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sortItems {
  margin-top: 11rem;
}

.sortItems button {
  width: 200px;
  margin: 10px;
}

/* Search */
.search-icon {
  padding-right: 10px;
}

.delete-search-icon,
.delete-search-icon-none {
  padding-right: 0;
  padding-left: 10px;
  color: #5f5f5f;
}

.delete-search-icon-none {
  color: transparent;
}

.nav-lines {
  display: flex;
  flex-direction: column;
}

/* Responsive css */

@media (min-width: 1201px) {
  .small-screen {
    display: none;
  }
}

@media (max-width: 1200px) {
  nav .search-and-buttons .button-nav {
    justify-content: flex-end;
    width: 100%;
    margin-right: 5px;
  }

  nav .search-and-buttons .searching-inputs {
    justify-content: space-between;
    width: 100%;
    padding-right: 5px;
  }
  .searched-bar {
    width: 60%;
    flex: 8;
  }
  #searched-bar-value {
    width: 95%;
  }
  .searching-inputs .delete-search-icon {
    left: 50%;
  }
  /* .searching-inputs .filter-sort {
    min-width: 165px;
  } */
  .chooseAPrice,
  .sortItems {
    right: 0;
    left: auto;
  }

  .big-screen {
    background-color: blue;
    display: none;
  }
  .small-screen {
    display: flex;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgb(199, 199, 199);
    padding: 10px 35px;
  }
}
@media (max-width: 768px) {
  .searched-bar {
    flex: 20;
  }
  .searching-inputs .filter-sort {
    width: auto;
    min-width: auto;
    padding-right: 5px;
  }

  .filter p > p {
    display: none;
  }

  .sell-now {
    display: none;
  }
  .chooseAPrice,
  .sortItems {
    right: 0;
  }
}
