/* Signup and login*/

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: white;
  padding: 20px;
  z-index: 50;
}

.signup-form h2,
.login-form h2,
.error-page h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form input {
  padding: 10px 5px;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #09adb6;
}

form p {
  font-size: 14px;
  color: grey;
}

form .submit {
  background-color: #09adb6;
  color: white;
  border-radius: 5px;
  border: 1px solid #09adb6;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 18px;
  padding: 10px 0;
  margin: 20px 0;
}

form .submit:hover {
  background-color: white;
  color: #09adb6;
}

form .newsletter {
  margin: 5px auto;
}

.error-message {
  color: #aa0e42;
  font-weight: 700;
  padding: 20px 0;
}
