/* Common css */

*,
body {
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
}

.modalActive {
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.wrapped {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapped {
    display: flex;
    align-items: flex-start;
  }

  nav > div {
    width: 100%;
  }

  .big-screen {
    background-color: blue;
    display: none;
  }
  .small-screen {
    display: flex;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgb(199, 199, 199);
    padding: 10px 35px;
  }
}
