*,
body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.wrapped {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 10px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

nav img {
  height: 35px;
}

nav .button-nav button {
  background-color: white;
  color: #09adb6;
  border-radius: 5px;
  border: 1px solid #09adb6;
  padding: 5px 10px;
  margin: 0 10px;
}

nav .button-nav button:hover {
  background-color: #09adb6;
  color: white;
}

/* Loading */
.loader {
  border: 14px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #09adb6; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Home */
.introPic {
  height: 50vh;
  margin: 30px 0;
}

.introPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.caroussel {
  display: flex;
  gap: 15px;
  padding: 10px 30px;
  flex-wrap: wrap;
}

.item-box {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-box img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.profile {
  padding: 5px 3px;
}

.other-infos {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: grey;
}

/* Offer */

.background-item {
  background-color: #ebedee;
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 40px;
  height: 80.5vh;
}

.img-item {
  width: 300px;
  height: 400px;
}

.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-description {
  background-color: white;
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.details-item {
  padding: 20px 0;
}

.details-item p,
.item-description > p {
  display: flex;
  font-size: 12px;
  color: grey;
}
.details-item p span {
  flex: 1;
}

.item-description h3 {
  font-weight: 700;
  padding: 10px 0;
}

.item-description .owner {
  padding: 30px 0;
}

.item-description button {
  background-color: #09adb6;
  color: white;
  border: none;
  padding: 5px 0;
  border-radius: 5px;
  margin: 20px 0;
}

.item-description button:hover {
  background-color: white;
  color: #09adb6;
  border: 1px solid #09adb6;
  padding: 5px 0;
  border-radius: 5px;
  margin: 20px 0;
}
